<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/css/index.css" />
	<link rel="shortcut icon" href="/static/img/favicon2.png">
	<title></title>
</head>

<body>
	<div id="root">
		<div class="Swipe Swipe_full Destructor">
			<div v-bind:style="{width:screen_width+'px',transitionDuration: '0s, transform: 'translate3d(0px, 0px, 0px)'}">
				<div v-bind:style="{width:screen_width+'px'}" id="app">
					<% include include/header.html %>
					<div class="Swipe Swipe_full container-scroll Destructor">
						<div
							v-bind:style="{width:double_screen_width+'px', transitionDuration:  duration+'s', transform: 'translate3d('+position+'px, 0px, 0px)'}">
							<div v-bind:style="{width:screen_width+'px'}">
								<div class="Pull-scroll">
									<div class="wrap">
										<div class="new-page channel-page">
											<% include include/index-top.html %>
											<% include include/index-hot.html %>
											<% include include/index-recommend.html %>
											<% include include/index-female.html %>
											<% include include/index-male.html %>
											<% include include/index-free.html %>
											<% include include/index-bottom.html %>
										</div>
									</div>
								</div>
							</div>
							<div v-bind:style="{width:screen_width+'px'}">
								<% include include/index-shelf.html %>
							</div>

						</div>
<div id="deleteConfirm" class="u-fixed popup-layer -hide" style="display:none"
	vp-class="{'-show' : $root.state == $root.SHOWING, '-hide' : $root.state != $root.SHOWING }">
	<div class="u-mask" @click="cancel()"></div>
	<div class="container" vp-class="{ '-center': $root.isCenter }"
		vp-click="!$root.unclosable &amp;&amp; $root.isCenter &amp;&amp; $root.close()">
		<section class="confirm-menu">
			<h3 class="title">确认删除</h3>
			<div class="prompt">确认将本书从书架删除?</div><a class="button -cancel" @click="cancel()" vp-click="$root.cancel()">取消</a><a
				class="button -confirm" vp-class="{ '-disable': $root.confirmDisable }"
				vp-click="!$root.confirmDisable &amp;&amp; $root.confirm()" @click="confirm()">确定</a>
		</section>
	</div>
</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="/static/script/vue.js"></script>
	<script src="/static/script/zepto.js"></script>
	<script src="/static/script/pages/index.js"></script>
	<script src="/static/script/pages/shelf.js"></script>
</body>

</html>