<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="/static/css/index.css" />
  <link rel="shortcut icon" href="/static/img/favicon2.png">
  <title></title>
</head>

<body>
  <div id="root">
    <div class="Swipe Swipe_full Destructor">
      <div style="width: 734px; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
        <div style="width: 734px;">
          <% include include/common-header.html %>
          <div class="top__bd" data-dom-uid="2" id="app">
            <ul class="fiction-toc" v-for="section in item.toc">
              <li class="fiction-toc__item fiction-toc__item_free"data-id="0">
                <p>{{section.title}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/script/vue.js"></script>
  <script src="/static/script/zepto.js"></script>
  <script src="/static/script/pages/menu.js"></script>
</body>

</html>