<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="/static/css/index.css" />
  <link rel="shortcut icon" href="/static/img/favicon2.png">
  <title></title>
</head>

<body>
  <div id="root">
    <div class="Swipe Swipe_full Destructor">
      <div v-bind:style="{width:screen_width+'px',transitionDuration: '0s, transform: 'translate3d(0px, 0px, 0px)'}">
        <div v-bind:style="{width:screen_width+'px'}" id="app">
          <% include include/common-header.html %>
          <div class="top__bd" data-dom-uid="2">
            <div class="new-page topic-page">
              <section class="main-card" id="Tag__4">
                <div class="u-topic">
                  <div class="banner"><img class="cover" v-bind:src="banner"></div>
                  <div class="desc">
                    <pre>{{description}}</pre>
                  </div>
                </div>
              </section>
              <div class="main-card topic-body">
                <ul class="book-list">
                  <li data-track="0" v-for="book in items">

                    <div class="u-book">
                      <a href="/book?id={{ book.fiction_id }}">
                        <div class="cnt">
                          <div class="book-cover Lazy_loading Lazy_loaded" id="Tag__5"><img alt="{{book.title}}"
                              v-bind:src="book.cover">
                            <div class="u-tagRT"></div>
                          </div>
                          <div class="info">
                            <h3 class="title single-line">{{book.title}}</h3>
                            <p class="summary">{{book.summary}}</p>
                            <div class="wrap">
                              <p class="author single-line"><span class="author">{{book.authors}}</span></p>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>

                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/script/vue.js"></script>
  <script src="/static/script/zepto.js"></script>
  <script src="/static/script/pages/topic.js"></script>
</body>

</html>